@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik.ttf');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

// font-family: 'Playfair Display SC',serif;
body {
    font-family: 'Rubik', sans-serif;
}